nav{
    min-height: 50px;
    width: 100%;
    background-color: #100f0d;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: blue;
}
.nav-button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    
}